header { background-color: rgb(100, 237, 123);
       color:rgb(255, 47, 47);}
body { color: aqua;
        background-color: rgb(237, 216, 100);}       

    Azul {color:#003cff;}
    Verde {color: rgb} 
    Vermelho {color:rgb}

.Sarsu {

       width: 20%;
}